h3{
  font-size: 30px;
}


.navbar {
  margin: 0;
}

#header {
  padding: 100px;
  background-color:
}

#about-us {
  padding: 80px;
  font-size: 20px;
}

#video {
  padding: 80px;
  background-color:
}

#contacto {
  padding: 80px;
  background-color:
}

#parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://images4.alphacoders.com/556/556449.jpg);
  height: 400px;
}

#slider{
  padding: 80px;
}

#beneficios{
  padding: 80px;
  font-size: 25px;
}

.social-links__container{
  position: fixed;
  top: 50%;
  right: 30px;
  font-size: 30px;
}
